doctype html
html
  head
    title= title
    link(href='http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css', rel='stylesheet')
    link(href='http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/build/css/bootstrap-datetimepicker.css', rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/spacelab/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/jquery.gridster/0.5.6/jquery.gridster.min.css', rel='stylesheet')
    link(href='http://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css', type='text/css', rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://cdn.rawgit.com/novus/nvd3/v1.7.1/build/nv.d3.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content