html
  background-color #333
  margin 0
  padding 0
  height 100%

a
  color #333
  outline none
  padding-left 3px
  padding-right 3px
  text-decoration underline
  &:hover
    background-color #c7d1d6

a:link, a:visited,a:active, a:hover
  color #333

.content-wrapper
  margin 0 auto
  width 100%
  background-color #eee

body
  background-color #efeeef
  clear both
  font-size 12px

.getData
    width 220px
    color black
    font-weight 400
    font-family 'Segoe UI Light'
    font-size 120%
    background-color darkseagreen
    margin-top 15px
    margin-left 5px
    text-transform uppercase
    padding 5px

.queryBuilder
  float left
  width 240px
  background-color white
  padding 5px
  padding-bottom 25px
  div.k-grid-header
        display none
 
 .chartContainer
    width 100%
    height 90%
    background-color white

h3
  font-family 'Segoe UI Light'
  margin-top 10px
  .counterSelection
    background-color white
    border 1px #e2e2e2 solid
    padding 10px
    margin-left 5px
    width 15%
    float left

  .aggFunction
    td
      padding 5px
    label
	  float left
	  clear left
  .form-group
    label
      float left
      width 40%
  .input-group
    float left
    width 60%
#start,#end
  float right
.title
  background-color rgb(85, 85, 85)
  color #dcdcdc
  text-transform uppercase
  padding 2px
  letter-spacing 5px
  font-size 140%

header
  nav
    font-size 80%
  text-transform uppercase
  margin-top 20px

.toggle
  float right
  padding 2px
  &:hover
    float right
    padding 2px
    background-color #ddd
    color black

.seriesWrap
  .seriesTitle
        float left
        color white
        width 100%
        background-color black
        padding .4em
        font-size 80%

.wrapper
  width 100%
  height 100%
  background-color #333

.gs-w
  color black
  background-color white
  list-style-type none

.resultPane
  float left
  width 660px

.table-wrapper
  width auto
  overflow-y scroll
  height 90%
  padding-right 1em
  padding-left 1em
  background-color white

label
  padding 5px
  font-weight normal

.input-group
  &.date
    .input-group-addon
        padding 2px

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  border: 2px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 2px 5px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  background-color:white;
}

.splitBy .select2-container
    float right

.select2-container
  min-width 120px !important
  max-width 100% !important

.dimensionGrid .select2-container
  width 100% !important

#start input, #end input
  border-radius 4px
#timeout, #percentile
  width 120px
  float right
  padding 2px
  border-radius 4px
#counters span
  width 100%

.aggFunction td
  padding:5px

.dimensionGrid li
  list-style-type none